<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/fonoaudiologia.css">
    <link rel="stylesheet" href="../static/normalize.css">
    <script src="https://kit.fontawesome.com/e9b666430c.js" crossorigin="anonymous"></script>
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-6329934291896166"
     crossorigin="anonymous"></script>
    <title>Sexto Sentido | Consultorios </title>
</head>
<body class="body">
    <header class="header">
        <div class="logo">
            <img src="../images/portada_destacadas-removebg-preview.png" alt="sexto sentido">
        </div>
        <nav class="navbar" id="nav">
            <div class="cerrar" id="cerrar"> <!--copia-->
                <button><i class="fa fa-times" aria-hidden="true"></i></button>
            </div>
            <ul class="nav-links">
                <li><a href="../index.html">Inicio</a></li>
                <li><a href="./sobre_nosotros.html">Sobre nosotros</a></li>
                <li><a href="./servicios.html">Servicios</a></li>
                <a href="./contacto.html" class="btn"><button>Contacto</button></a>
            </ul>
        </nav>
        <div class="bars-cont" id="abrir">
            <i class="fa-solid fa-bars"></i>
        </div>
    </header>
    <article class="article">
        <section class="section">
            <h1>Fonoaudiologia</h1>
            <div class="container">
                <p class="parrafo">
                    La fonoaudiología es una disciplina profesional que aborda el estudio de la comunicación humana mediante la prevención,
                    promoción, evaluación, diagnóstico y tratamiento de los trastornos del lenguaje, el habla, la deglución, la voz
                    y la audición en personas de casi todas las edades. Se encuentra relacionada con las ciencias de la salud, la psicología
                    y la lingüística.
                </p>
                <p class="parrafo1">
                    El profesional fonoaudiológico participa en equipos interdisciplinarios de salud, asesorando, evaluando
                    y tratando los diferentes trastornos de su competencia. El objetivo principal es restaurar las funciones afectadas,
                    dotando al paciente de estrategias para el uso de sus habilidades, lo que le permite interactuar de manera apropiada 
                    con los demás.
                </p>
            </div>
        </section>
    </article>
    <footer class="footer">
        <div class="pie">
            <ul class="container">
                <li><a href="../index.html">Inicio</a></li>
                <li><a href="./sobre_nosotros.html">Sobre nosotros</a></li>
                <li><a href="./servicios.html">Servicios</a></li>
                <li class="ig"><a href="https://www.instagram.com/consultoriossextosentido/" target="_blank" rel="noopener noreferrer">Instagram<i class="fa-brands fa-instagram"></i></a></li>
            </ul>
            <p class="derechos">2023 Sexto sentido | Todos los derechos reservados</p>
        </div>    
    </footer>
<script src="../js/script.js"></script><!--copia-->
</body>
</html>