<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/maestra.css">
    <link rel="stylesheet" href="../static/normalize.css">
    <script src="https://kit.fontawesome.com/e9b666430c.js" crossorigin="anonymous"></script>
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-6329934291896166"
     crossorigin="anonymous"></script>
    <title>Sexto Sentido | Consultorios </title>
</head>
<body class="body">
    <header class="header">
        <div class="logo">
            <img src="../images/portada_destacadas-removebg-preview.png" alt="sexto sentido">
        </div>
        <nav class="navbar" id="nav">
            <div class="cerrar" id="cerrar"> <!--copia-->
                <button><i class="fa fa-times" aria-hidden="true"></i></button>
            </div>
            <ul class="nav-links">
                <li><a href="../index.html">Inicio</a></li>
                <li><a href="./sobre_nosotros.html">Sobre nosotros</a></li>
                <li><a href="./servicios.html">Servicios</a></li>
                <a href="./contacto.html" class="btn"><button>Contacto</button></a>
            </ul>
        </nav>
        <div class="bars-cont" id="abrir">
            <i class="fa-solid fa-bars"></i>
        </div>
    </header>
    <article class="article">
        <section class="section">
            <h1>Maestra de apoyo escolar</h1>
            <div class="container">
                <p class="parrafo">
                    Realizaremos el acompañamiento en trayectorias educativas e inclusión escolar, así como la adaptación de propuestas pedagógicas,
                    actividades y/o evaluaciones en articulación con docentes de la escuela inclusiva. <br>
                    <p class="parrafo1">Además del refuerzo en las actividades escolares, el trabajo en equipo con la familia, escuela,
                        docentes y profesionales, también incluye la coordinación de aspectos pedagógicos, seguimientos personalizados
                        y la evaluación interdisciplinaria del rendimiento pedagógico.</p>
                </p>
            </div>
        </section>
    </article>
    <footer class="footer">
        <div class="pie">
            <ul class="container">
                <li><a href="../index.html">Inicio</a></li>
                <li><a href="./sobre_nosotros.html">Sobre nosotros</a></li>
                <li><a href="./servicios.html">Servicios</a></li>
                <li class="ig"><a href="https://www.instagram.com/consultoriossextosentido/" target="_blank" rel="noopener noreferrer">Instagram<i class="fa-brands fa-instagram"></i></a></li>
            </ul>
            <p class="derechos">2023 Sexto sentido | Todos los derechos reservados</p>
        </div>    
    </footer>
<script src="../js/script.js"></script><!--copia-->
</body>
</html>