<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/psicologia.css">
    <link rel="stylesheet" href="../static/normalize.css">
    <script src="https://kit.fontawesome.com/e9b666430c.js" crossorigin="anonymous"></script>
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-6329934291896166"
     crossorigin="anonymous"></script>
    <title>Sexto Sentido | Consultorios </title>
</head>
<body class="body">
    <header class="header">
        <div class="logo">
            <img src="../images/portada_destacadas-removebg-preview.png" alt="sexto sentido">
        </div>
        <nav class="navbar" id="nav">
            <div class="cerrar" id="cerrar"> <!--copia-->
                <button><i class="fa fa-times" aria-hidden="true"></i></button>
            </div>
            <ul class="nav-links">
                <li><a href="../index.html">Inicio</a></li>
                <li><a href="./sobre_nosotros.html">Sobre nosotros</a></li>
                <li><a href="./servicios.html">Servicios</a></li>
                <a href="./contacto.html" class="btn"><button>Contacto</button></a>
            </ul>
        </nav>
        <div class="bars-cont" id="abrir">
            <i class="fa-solid fa-bars"></i>
        </div>
    </header>
    <article class="article">
        <section class="section">
            <h1>Psicologia</h1>
            <div class="container">
                <p class="parrafo">
                    La psicología infantojuvenil se enfoca en comprender el desarrollo y el comportamiento de los niños y adolescentes,
                    así como en brindarles el apoyo necesario para enfrentar los desafíos que surgen durante esta etapa de sus vidas,
                    y promoviendo su bienestar emocional y mental. <br>
                    Abarca un amplio rango de edades desde la infancia temprana hasta la adolescencia tardía.
                    Los cambios físicos, cognitivos y emocionales que ocurren durante estas etapas son cruciales
                    para moldear la personalidad y el futuro de cada individuo. 
                </p>
                <p class="parrafo1">
                    Se abordan problemáticas tales como la depresión, temores infantiles, trastornos del sueño, trastornos alimenticios,
                    hiperactividad (TDAH), pánico, abuso infantil y obesidad en niños. <br>
                    El papel de las familias es esencial a lo largo del proceso. Aprenderán a realizar intervenciones de manera colaborativa.
                </p>
            </div>
        </section>
    </article>
    <footer class="footer">
        <div class="pie">
            <ul class="container">
                <li><a href="../index.html">Inicio</a></li>
                <li><a href="./sobre_nosotros.html">Sobre nosotros</a></li>
                <li><a href="./servicios.html">Servicios</a></li>
                <li class="ig"><a href="https://www.instagram.com/consultoriossextosentido/" target="_blank" rel="noopener noreferrer">Instagram<i class="fa-brands fa-instagram"></i></a></li>
            </ul>
            <p class="derechos">2023 Sexto sentido | Todos los derechos reservados</p>
        </div>    
    </footer>
<script src="../js/script.js"></script><!--copia-->    
</body>
</html>